myweb/www/LapTopService/WinFormApp/Service References/ServiceReferencePhanLoai/ServicePhanLoai.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18037/ServicePhanLoai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfLapTopService" />
  <xs:element name="SelectPhanLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="SelectPhanLoaiResult" nillable="true" type="q1:ArrayOfPhanLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q2:PhanLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhanLoaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q3:PhanLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhanLoaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q4:PhanLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhanLoaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>