myweb/www/LapTopService/WinFormApp/Service References/ServiceReferenceSanPham/ServiceSanPham2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18037/ServiceSanPham.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfLapTopService" />
  <xs:element name="SelectSanPham">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="SelectSanPhamResult" nillable="true" type="q1:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSanPhamTheoPhanLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loai" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSanPhamTheoPhanLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="SelectSanPhamTheoPhanLoaiResult" nillable="true" type="q2:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q3:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSanPhamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q4:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSanPhamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q5:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSanPhamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>