myweb/www/LapTopService/WinFormApp/Service References/ServiceReferencePhanQuyen/ServicePhanQuyen2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18037/ServicePhanQuyen.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfLapTopService" />
  <xs:element name="SelectPhanQuyen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="SelectPhanQuyenResult" nillable="true" type="q1:ArrayOfPhanQuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhanQuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q2:PhanQuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhanQuyenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhanQuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q3:PhanQuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhanQuyenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhanQuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfLapTopService" minOccurs="0" name="info" nillable="true" type="q4:PhanQuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhanQuyenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>