myweb/www/LapTopService/WinFormApp/Service References/ServiceReferencePhanQuyen/ServicePhanQuyen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePhanQuyen" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18037/ServicePhanQuyen.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18037/ServicePhanQuyen.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18037/ServicePhanQuyen.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfLapTopService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePhanQuyen_SelectPhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IServicePhanQuyen_SelectPhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPhanQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhanQuyen_InsertPhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IServicePhanQuyen_InsertPhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPhanQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhanQuyen_UpdatePhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IServicePhanQuyen_UpdatePhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhanQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhanQuyen_DeletePhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IServicePhanQuyen_DeletePhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhanQuyenResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePhanQuyen">
    <wsdl:operation name="SelectPhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhanQuyen/SelectPhanQuyen" message="tns:IServicePhanQuyen_SelectPhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhanQuyen/SelectPhanQuyenResponse" message="tns:IServicePhanQuyen_SelectPhanQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhanQuyen/InsertPhanQuyen" message="tns:IServicePhanQuyen_InsertPhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhanQuyen/InsertPhanQuyenResponse" message="tns:IServicePhanQuyen_InsertPhanQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhanQuyen/UpdatePhanQuyen" message="tns:IServicePhanQuyen_UpdatePhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhanQuyen/UpdatePhanQuyenResponse" message="tns:IServicePhanQuyen_UpdatePhanQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhanQuyen/DeletePhanQuyen" message="tns:IServicePhanQuyen_DeletePhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhanQuyen/DeletePhanQuyenResponse" message="tns:IServicePhanQuyen_DeletePhanQuyen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePhanQuyen" type="tns:IServicePhanQuyen">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectPhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IServicePhanQuyen/SelectPhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IServicePhanQuyen/InsertPhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IServicePhanQuyen/UpdatePhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IServicePhanQuyen/DeletePhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePhanQuyen">
    <wsdl:port name="BasicHttpBinding_IServicePhanQuyen" binding="tns:BasicHttpBinding_IServicePhanQuyen">
      <soap:address location="http://localhost:18037/ServicePhanQuyen.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>